:root {
    --brand-color: tan;
    --dark-ink: #000000;
    --muted-gray: #888888;
    --light-background: #eddbba;

}

* {
    box-sizing: border-box;
}

body {
    font-family: Perpetua, sans-serif;
    line-height: 1.6;
    background-color: var(--brand-color);
    color: var(--dark-ink);
}

header {
    background-color: var(--light-background);
    color: var(--dark-ink);
}

nav {
    background-color: var(--light-background);
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav li {
    display: inline-block;
    margin-right: 10px;
}

nav a {
    text-decoration: none;
    color: var(--dark-ink);
    padding: 5px 10px;
}

main {
    background-color: var(--light-background);
}

footer {
    background-color: var(--brand-color);
}

.place-entry-card {
    background-color: var(--light-background);
    color: var(--dark-ink);
    border: 1px solid var(--muted-gray);
    border-radius: 5px;
    border-left: 5px solid var(--dark-ink);
    padding: 16px;
    margin-bottom: 16px;
}

h1 {
    font-family: Bradley Hand, cursive, sans-serif;
    text-align: center;
    color: var(--dark-ink);
}